---
import { fetchArticles } from "../lib/fetch-articles";

const articles = await fetchArticles({});

const { class: className } = Astro.props;
---

<!-- <h2 class="accent-color heading">Popular Articles</h2> -->
<ul role="list" class:list={className}>
  {
    articles.map((article) => (
      <li>
        <article>
          <img
            class="blog-image"
            src={article?.data?.coverImage}
            alt={article?.data?.title}
          />
          <div>
            <h3>
              <a href={`/article/${article?._id}`}>{article?.data?.title}</a>
            </h3>
            <p class="truncate-text" style="--max-lines: 3">
              {article?.data?.content}
            </p>
            <div class="flex items-center">
              <span class="text-yellow-500 text-lg">&#9733;</span>
              <span class="ml-1 text-gray-700 font-semibold">
                {article?.data?.rating}
              </span>
            </div>
          </div>
        </article>
      </li>
    ))
  }
</ul>

<style>
  /* .heading {
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
    margin: 2rem 0;
  } */
  article {
    display: grid;
    gap: 1rem;
    grid-template-columns: 100px auto;

    > div {
      display: grid;
      gap: 0.5rem;

      &::before {
        line-height: 1;
        content: counter(article-count, decimal-leading-zero);
        display: block;
        font-weight: var(--fw-semi-bold);
        font-size: var(--fs-700);
        color: var(--clr-accent-400);
      }
    }
  }

  ul {
    counter-reset: article-count;
  }
  li {
    counter-increment: article-count;
  }
</style>
